/* https://www.monikaperkowska.com/update-password - 10/02/2023, 3:15:06 CET */

position: relative;
width: 1512px;
height: 1495.16px;

background: #FFFFFF;


/* Pricing page header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 1440px;
height: 1019px;
left: 36px;
top: 45px;

/* Base/White */
background: #FFFFFF;


/* Header section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 96px 0px;
gap: 64px;

width: 1440px;
height: 342px;

/* Base/White */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 32px;

width: 1280px;
height: 150px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 1216px;
height: 150px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 768px;
height: 150px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading and subheading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 768px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subheading */

display: none;
width: 768px;
height: 24px;

/* Text md/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Primary/600 */
color: #7F56D9;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 768px;
height: 120px;

/* Display lg/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* or 125% */
letter-spacing: -0.02em;

/* Gray/900 */
color: #101828;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 768px;
height: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 10px;
/* or 50% */

/* Gray/600 */
color: #475467;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 0px 96px;
gap: 64px;

width: 1440px;
height: 484px;

/* Base/White */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 32px 12px;
gap: 24px;

width: 1280px;
height: 388px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 384px;
height: 344px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Pricing tier card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 384px;
height: 344px;

/* Base/White */
background: #FFFFFF;
/* Gray/200 */
border: 1px solid #EAECF0;
/* Shadow/lg */
box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 32px 0px;
gap: 16px;
isolation: isolate;

width: 384px;
height: 204px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Price */

width: 48px;
height: 60px;

/* Display lg/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */
text-align: center;
letter-spacing: -0.02em;

/* Gray/900 */
color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Heading and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 320px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* Heading */

width: 320px;
height: 60px;

/* Text xl/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* or 150% */
text-align: center;

/* Gray/900 */
color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 320px;
height: 24px;



/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame */

position: absolute;
display: none;
width: 152px;
height: 54px;
right: -64px;
top: -32px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Text */

position: absolute;
width: 94px;
height: 20px;
right: -0.5px;
top: -1px;

/* Text sm/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Primary/700 */
color: #6941C6;



/* Hand-drawn arrow */

position: absolute;
width: 56px;
height: 20px;
left: -0.25px;
top: 36.34px;

transform: rotate(-30deg);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 140%;
bottom: -140%;

/* Primary/700 */
border: 3px solid #6941C6;
transform: rotate(-30deg);


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 32px 12px;
gap: 24px;

display: none;
width: 384px;
height: 256px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Check items */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 320px;
height: 112px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check icon */

width: 24px;
height: 24px;

/* Success/100 */
background: #D1FADF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 26.46%;
right: 23.56%;
top: 29.65%;
bottom: 26.58%;

/* Success/500 */
background: #12B76A;


/* Text wrap */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 284px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 284px;
height: 48px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Gray/600 */
color: #475467;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 320px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Check icon */

width: 24px;
height: 24px;

/* Success/100 */
background: #D1FADF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 26.46%;
right: 23.56%;
top: 29.65%;
bottom: 26.58%;

/* Success/500 */
background: #12B76A;


/* Text wrap */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 284px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 284px;
height: 48px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

/* Gray/600 */
color: #475467;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Check icon */

width: 24px;
height: 24px;

/* Success/100 */
background: #D1FADF;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 26.46%;
right: 23.56%;
top: 29.65%;
bottom: 26.58%;

/* Success/500 */
background: #12B76A;


/* Text wrap */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 284px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 284px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Gray/600 */
color: #475467;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 320px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 294px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 294px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 294px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 7;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 294px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 8;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

display: none;
width: 294px;
height: 84px;


/* Inside auto layout */
flex: none;
order: 9;
align-self: stretch;
flex-grow: 0;


/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px 32px;
gap: 24px;

width: 384px;
height: 140px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Actions */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 320px;
height: 108px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 15px;
gap: 8px;

display: none;
width: 320px;
height: 48px;

background: #FEEB37;
border: 1px solid #FEEB31;
border-radius: 25px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* placeholder */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 53px;
height: 24px;

/* Text md/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* placeholder */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 8px;

display: none;
width: 320px;
height: 48px;

/* Base/White */
background: #FFFFFF;
/* Gray/300 */
border: 1px solid #D0D5DD;
border-radius: 25px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* _Pricing tier card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

display: none;
width: 384px;
height: 570px;

/* Base/White */
background: #FFFFFF;
/* Gray/200 */
border: 1px solid #EAECF0;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* _Pricing tier card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

display: none;
width: 384px;
height: 570px;

/* Base/White */
background: #FFFFFF;
/* Gray/200 */
border: 1px solid #EAECF0;
border-radius: 16px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 40px;
gap: 10px;

position: absolute;
width: 211px;
height: 56px;
left: 234px;
top: 649px;

/* Primary */
background: #1D2130;
border-radius: 12px;


/* Button Text */

width: 131px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
