body{
    background-color: rgb(219, 217, 217);
}
.top{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(245, 245, 245);
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 4px 11px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes fadeInAnimation {
        0% {
            width: 425px;
        }
        100% {
            width: 850px;
        }
}
.box, .box button{
    display: flex;
    align-items: center;
}
.box{
    width: 375px;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}
.box button{
    width: 152px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    outline: none;
    font-weight: bold;
    border: 1px solid rgb(211, 210, 210);
    box-shadow: 0 2px rgb(110, 110, 110,.2);
    border-radius: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.box-button{
    width: 300px;
    height: 55px;
    margin-top: 20px;
}
.box-button:hover{
    scale: 1.05;
    transition: scale 10ms;
}
.box-button span{
    font-size: medium;
}
.box-about-title{
    width: 340px;
    height: 55px;
    margin-top: -50px;
}
.bottom{
    position: absolute;
    top: 72.78%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom span{
    width: 340px;
    height: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    text-align-last: center;
}
.members{
    position: absolute;
    z-index: 1;
    top: 23%;
    justify-self: left;
    justify-content: center;
    align-items: center;
    width: 152px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    outline: none;
    font-weight: bold;
    box-shadow: 0 4px 11px rgb(0 0 0 / 0.2);
    border-radius: 20px;
}
.members {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes leftInAnimation {
        0% {
            left: 25%;
        }
        100% {
            left: 21.3%;
        }
}



