body{
    background-color: rgb(219, 217, 217);
    overflow: scroll;
}
.top{
    position: relative;
    width: 330;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    opacity: 1;
    position: relative;
    background: rgb(245, 245, 245);
    width: 400px;
    height: 450px;
    margin: 10px auto 20px auto;
    border-radius: 20px;
    box-shadow: 0 4px 11px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.main {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
    @keyframes fadeInAnimation {
        0% {
            height: 450px;
        }
        100% {
            height: 100px;
        }
}
.box, .box button{
    display: flex;
    align-items: center;
}
.box{
    width: 300px;
    height: 200px;
    flex-direction: column;
    justify-content: space-evenly;
}
.box-button{
    margin: 5px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 45px;
}
.box-button button{
    width: 180px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    outline: none;
    font-weight: bold;
    border: 1px solid rgb(211, 210, 210);
    box-shadow: 0 4px 11px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.box-button button:hover{
    background-color: rgb(226, 226, 226);
    box-shadow: 0 0px rgba(197, 197, 197, 0.2);
    transition: background-color 0.2s;
    transition: box-shadow 0.2s;
}
.box-button button span{
    font-size: medium;
}
.box-input{
    height: 45px;
}
.box-input input{
    position: relative;
    width: 340px;
    height: 45px;
    outline: none;
    border: 0px;
    background-color: transparent;
    padding-left: 10px;
}
.box-input input label{
    position: relative;
}
.box-input input::placeholder{
    font-size: 1rem;
}
.box-about-title{
    width: 340px;
    height: 55px;
}
.bottom{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom span{
    width: 340px;
    height: 55px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    text-align-last: center;
}
.inter{
    font-weight: lighter;
}



