<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Your board</title>
    <link rel="stylesheet" href="../static/style_board.css" />
    <link rel="icon" type="image/x-icon" href="../static/Image/presto-logo.png">
</head>
<body>
        <div class="top">
            <i class="fab fa-presto">
                <img src="../static/Image/presto-logo.png" alt="create presto" width="80">
            </i>
        </div>
        <div class="main">
            <div class="box box-about-title">
                <h3>This is your Presto ideaboard:</h3>
            </div>
            <div class="box box-input">
                <span 
                    class="input" 
                    role="textbox" 
                    contenteditable>
                        Write something...
                </span>
            </div>
            <div class="box box-button">
                <button>
                    <span>Add new idea💡</span>
                </button>
            </div>
        </div>
        <div class="bottom">
            <span>
                Presto is completely free to use, with no account required. </br></br></br>
                © Michał Ślusarski, 2023. </br></br>
                .  
            </span>
        </div>
</body>