<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Your board</title>
    <link rel="stylesheet" href="../static/style_board.css" />
    <link rel="icon" type="image/x-icon" href="../static/Image/presto-logo.png">
    <script src="script.js"></script> 
</head>
<body>
    <script src="script.js"></script> 
        <div class="top">
            <i class="fab fa-presto">
                <img src="../static/Image/presto-logo.png" alt="create presto" width="80">
            </i>
        </div>
        <div id="main" class="main">
            <div class="box box-input">
                <input type="text" placeholder="Describe your presto here..." name="board-title" id="1" maxlength="37" spellcheck="true">
            </div>
        </div>
        <div id ="mainTwo" class="main two">
            <div class="box box-about-title">
                <h5> Send to invite:   <input type="text" value="www.itspresto.space/board/12345678910abcdef" name="copy-link" id="copy-link" readonly> </h5>
                    <button onclick="copyToClipboard()" id="copy-button">Copy link 📋</button>
            </div>
        </div>
        <div id ="boxbutton" class="box box-button">
            <button onclick="addIdea()">
                <span>Add new idea💡</span>
            </button>
        </div>
</body>