<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Create presto!</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" type="image/x-icon" href="presto-logo.png">
    <style>
        body {
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
</head>
<body>
    <div class="top box-intro">
        <i class="fab fa-presto">
            <img src="presto-logo.png" alt="create presto" width="80">
        </i>
    </div>
    <div class="container">
        <div class="box box-about-title">
            <h4>Not sure about your idea?</h4>
        </div>
        <div class="box box-about">
            <h4><span class="inter">Presto makes sharing ideas anonymous, 
                whilst still allowing their authors to take full credit.</span>
            </h4>
        </div>
        <div class="box box-process">
            <h4>The presto process goes like this:
                <ul>
                    <li>Create a presto ✅</li>
                    <li>Send invites to your team members 📧</li>
                    <li>Upload your ideas (anonymously) 🕵️</li>
                    <li>Select the best ideas ❤️</li>
                    <li>Their authors can reveal themselves! 🥳</li>
                </ul>
            </h4>
        </div>
        <div class="box box-input">
            <form>
                <input type="email" placeholder="Enter your email" name="Host-mail" id="0">
            </form>
        </div>
        <div class="box box-checkbox">
            <span><input type="checkbox"> I agree to the 
                <a href="url" target="_blank">privacy policy and terms of service</a>
            </span>
        <div class="box box-button">
            <button>
                <span>Create new presto🪄</span>
            </button>
        </div>
    </div>
    <div class="bottom text-outro">
        <span>
            Presto is completely free to use, with no account required. </br></br></br>
            © Michał Ślusarski, 2023. 
        </span>
    </div>
</body>